body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-image: url("../public/images/homeeee.jpg");
  background-size: cover;
  background-position: center;
}

.products-container{
    background-image: url("../public/images/products.jpg");
}

.login-container{
  background-image: url("../public/images/loginRegister.jpg");
}

.listprod-container {
  background-image: url("../public/images/listProd.jpg");
}

.listuse-container {
  background-image: url("../public/images/gestuse.jpg");
}

.cart-container {
    background-image: url("../public/images/panier.jpg");
}

.profil-container {
  background-image: url("../public/images/profil.jpg");
}

.centered-content {
  text-align: center;
  color: white;
}

.putprod-container {
    background-image: url("../public/images/putprod.jpg");
}

.logo {
  background: red;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
}
